* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: ;
  */
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}

#back {
  width: 100%;
  height: 100vh;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: grey;
}

#area {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  max-width: 1920px;
  border: red solid;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;

  color: #fff;
  font-family: "Gilroy";
}

#hero {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#heroleft {
  min-width: 50%;
}

#heroright {
  min-width: 25%;
}
